* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #252525;
    color: #fff;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 12vh;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
}

header img {
    height: 10vh;
    margin: 2vh 0;
    cursor: pointer;
}

.meio {
    display: flex;
    height: 66vh;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
}

.meio h5 {
    margin-top: 5vh;
    font-size: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
}

.login {
    display: flex;
    flex-direction: column;
    width: 50vw;
    align-items: center;
    border-right: 1px solid rgba(255, 255, 255, .5);
}

input {
    margin: 1.5vh 2.5vw;
    padding: 1.5vh .5vw;
    height: 3vh;
    width: 15vw;
    border-radius: 8px;
    outline: none;
}

input:hover {
    box-shadow: -15px 0px 13px -5px rgba(0, 252, 146, 1), 15px 0px 13px -5px rgba(0, 163, 253, 1), 5px 5px 3px -6px rgba(0, 0, 0, 0);
}

input:focus {
    box-shadow: -15px 0px 13px -5px rgba(0, 252, 146, 1), 15px 0px 13px -5px rgba(0, 163, 253, 1), 5px 5px 3px -6px rgba(0, 0, 0, 0);
}

.cadastro {
    display: flex;
    flex-direction: column;
    width: 50vw;
    align-items: center;
    border-left: 1px solid rgba(255, 255, 255, .1);
}

.cadastro form {
    display: grid;
    grid-template-columns: 20vw 20vw;
}

form {
    display: flex;
    flex-direction: column;
    margin: 10% 0;
}

form i {
    margin-left: -80px;
    cursor: pointer;
    filter: invert(100%);
}

button {
    margin-bottom: 5vh;
    background: linear-gradient(90deg, rgba(0, 252, 146, 1) 0%, rgba(0, 163, 253, 1) 100%);
    border: none;
    cursor: pointer;
    color: #252525;
    font-weight: bold;
    font-size: 80%;
    width: 15vw;
    height: 3vh;
}

#btn_cadastro {
    margin: 1.5vh 0 0 2.5vw;
}

.footer {
    display: flex;
    justify-content: space-around;
}

.pags {
    display: flex;
    flex-direction: column;
    width: 30vw;
    align-items: center;
}

.atend {
    display: flex;
    flex-direction: column;
    width: 30vw;
    align-items: center;
    justify-content: center;
}

.tes {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

.footer p {
    font-weight: bold;
    font-size: 18px;
    margin: 1vh 0;
}

.footer h5 {
    font-size: 12px;
    margin: 1vh 0
}

.footer a:hover {
    border-left: 3px solid #00fc92;
    color: #00a3fd;
}

.copyright {
    color: rgba(255, 255, 255, 0.5);
    align-self: center;
}

@media(max-width:1024px) {
    .meio {
        flex-direction: column;
        justify-content: center;
        height: auto;
    }
    .login {
        width: 100%;
        border: none;
    }
    .cadastro {
        width: 100%;
        border: none;
        margin-bottom: 20px;
    }
    .cadastro form {
        grid-template-columns: 100%;
    }
    form i {
        margin-left: -40px;
    }
    input {
        height: 20px;
        width: 50vw;
    }
    button {
        width: 50vw;
    }
    .footer {
        font-size: 10px;
    }
    .pags {
        width: 35%;
        align-items: flex-start;
    }
    .atend {
        width: 35%;
        align-items: flex-start;
    }
    .footer h5{
        height: auto;
    }
}